<!doctype html>

<html>
<head>
	<title>About</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<!-- this is a comment in HTML -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

<!--FB account log in -->
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/introHCI.js"></script>
	{{> facebook}}
	<script src="/js/facebook.js"></script>

</head>

<body>
	<div class="container">
		<!-- h1 through h6 are headers. The higher the number, the smaller the header -->
		<!-- p means paragraph -->
		
		<!--fixed menu top--> 
			<!--Navbar-->


		<div class="jumbotron fixed-top">
			<h1 id="name">&nbsp;&nbsp;&nbsp;&nbsp;About</h1>
			<div class="w-80 top-button fixed-top">
					<div class="btn-group">
						<button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
							<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#F59292" class="bi bi-grid-fill" viewBox="0 0 16 16">
								<path d="M1 2.5A1.5 1.5 0 0 1 2.5 1h3A1.5 1.5 0 0 1 7 2.5v3A1.5 1.5 0 0 1 5.5 7h-3A1.5 1.5 0 0 1 1 5.5v-3zm8 0A1.5 1.5 0 0 1 10.5 1h3A1.5 1.5 0 0 1 15 2.5v3A1.5 1.5 0 0 1 13.5 7h-3A1.5 1.5 0 0 1 9 5.5v-3zm-8 8A1.5 1.5 0 0 1 2.5 9h3A1.5 1.5 0 0 1 7 10.5v3A1.5 1.5 0 0 1 5.5 15h-3A1.5 1.5 0 0 1 1 13.5v-3zm8 0A1.5 1.5 0 0 1 10.5 9h3a1.5 1.5 0 0 1 1.5 1.5v3a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 9 13.5v-3z"/>
							</svg>
						</button>
						<div class="dropdown-menu dropdown-menu-right">
							<a href="/index"> <button class="dropdown-item" type="button">Home</button> </a>
                            <a href="/setting"> <button class="dropdown-item" type="button">Setting</button></a>
							<a href="/about"> <button class="dropdown-item active" type="button">About</button></a>
							<a href="#"> <button class="dropdown-item" type="button" style="background-color: grey; color: white;">Log in</button></a>
						</div>
					</div>
			</div>
		</div>

		<div class="aboutProject">
			<h1 class="card-title"> Project</h1>
			<h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut pellentesque 
				lorem, sed condimentum risus. Nam aliquam lacus vel neque ullamcorper 
				lacinia. Maecenas ultricies lacinia euismod. Proin non aliquet enim. 
				Morbi tempor semper magna et condimentum. Donec blandit, 
				lectus sit amet rutrum pulvinar, libero tortor imperdiet elit, 
				sit amet elementum justo augue eget nunc. Ut vitae urna eu magna 
				ornare dictum. Quisque nec mattis ex, a tempor enim. In ut rhoncus 
			</h4>

        <h1 class="card-title"> Creator</h1>
        <div class="card w-80">
			<div class="card-body">
				<div class="details card-text">
                    <img class="card-img-top" style="border-radius: 50%;" src="https://picsum.photos/550/550" alt="Lorem Pixel image">
                    
                    <div class="center-aligned">
                    <br>
                    <h2 class="card-title">Name</h2>
                    <h3 class="card-subtitle mb-2 text-muted" >Role</h3>
                    <h4>description</h4>
                    <br>
                    <a href="#">
                        <button type="button" class="btn btn-outline-primary">Learn more</button> 
                    </a> 
                    </div>
                </div>
			</div>
		</div>
		</div>

	


	</div>


</body>
</html>
