<html>
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Activity Page</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/styles.css">
</head>
<body>
	<div class="container">
		<h1 class="title">Yoga!</h1>
		<div class="video">
			<iframe width="420" height="315" src="https://www.youtube.com/embed/tgbNymZ7vqY?autoplay=1&mute=1">
			</iframe>
		</div>
		<p class="description">Ten minute of sun salutations with Instructor Nina.</p>
		<h3 class="timer">0:00</h3>
		<div class="buttons">
			<button id="secondary">Try Another</button>
			<button id="primary">Start</button>
		</div>
	</div>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>