<!doctype html>
<head>
	<title>Filter</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	
	<!-- this is a comment in HTML -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

<!--FB account log in -->
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/introHCI.js"></script>
	<script src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script>

</head>
<body>

	<div class="container">
		<!--fixed menu top--> 
			<!--Navbar-->
		<div class="jumbotron fixed-top">
		<a href="/index">
			<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="#212529" class="bi bi-chevron-left" viewBox="0 0 24 24">
				<path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
			</svg>
			<h1 id="name" style ="display:inline;">Filter</h1>
		</a>   
		</div>		

<br><br><br><br><br><br><br><br>


<h2 class="center-aligned">
	How long would your break be?
</h2>

<br><br><br><br>


		<div id = "1" class = "multiple-unselect">
			<svg width="28" height="28" viewBox="0 0 28 27" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path fill-rule="evenodd" clip-rule="evenodd" d="M19.0346 17.1379L10.3377 11.5L19.0346 5.86208C19.1488 5.78804 19.2469 5.69285 19.3232 5.58195C19.3996 5.47105 19.4528 5.3466 19.4797 5.21572C19.5066 5.08484 19.5068 4.95008 19.4801 4.81915C19.4535 4.68821 19.4006 4.56366 19.3245 4.4526C19.2483 4.34154 19.1504 4.24615 19.0364 4.17188C18.9223 4.09761 18.7944 4.04591 18.6598 4.01974C18.5252 3.99356 18.3866 3.99342 18.2519 4.01932C18.1173 4.04523 17.9892 4.09666 17.875 4.1707L8.01627 10.5618C7.85746 10.6648 7.72724 10.8043 7.63718 10.968C7.54712 11.1316 7.5 11.3144 7.5 11.5C7.5 11.6856 7.54712 11.8684 7.63718 12.032C7.72724 12.1957 7.85746 12.3352 8.01627 12.4381L17.875 18.8293C17.9892 18.9033 18.1173 18.9548 18.2519 18.9807C18.3866 19.0066 18.5252 19.0064 18.6598 18.9803C18.7944 18.9541 18.9223 18.9024 19.0364 18.8281C19.1504 18.7538 19.2483 18.6585 19.3245 18.5474C19.4006 18.4363 19.4535 18.3118 19.4801 18.1809C19.5068 18.0499 19.5066 17.9152 19.4797 17.7843C19.4528 17.6534 19.3996 17.529 19.3232 17.418C19.2469 17.3071 19.1488 17.212 19.0346 17.1379V17.1379Z" fill="black"/>
				<path d="M19.375 23.25H8.125C7.82663 23.25 7.54048 23.1315 7.32951 22.9205C7.11853 22.7095 7 22.4234 7 22.125C7 21.8266 7.11853 21.5405 7.32951 21.3295C7.54048 21.1185 7.82663 21 8.125 21H19.375C19.6734 21 19.9595 21.1185 20.1705 21.3295C20.3815 21.5405 20.5 21.8266 20.5 22.125C20.5 22.4234 20.3815 22.7095 20.1705 22.9205C19.9595 23.1315 19.6734 23.25 19.375 23.25Z" fill="black"/>
			</svg>
			<h2>10 min</h2>
		</div>

		<div id = "2" class = "multiple-unselect">
			<svg width="28" height="27" viewBox="0 0 28 27" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path fill-rule="evenodd" clip-rule="evenodd" d="M19.0346 17.1379L10.3377 11.5L19.0346 5.86208C19.1488 5.78804 19.2469 5.69285 19.3232 5.58195C19.3996 5.47105 19.4528 5.3466 19.4797 5.21572C19.5066 5.08484 19.5068 4.95008 19.4801 4.81915C19.4535 4.68821 19.4006 4.56366 19.3245 4.4526C19.2483 4.34154 19.1504 4.24615 19.0364 4.17188C18.9223 4.09761 18.7944 4.04591 18.6598 4.01974C18.5252 3.99356 18.3866 3.99342 18.2519 4.01932C18.1173 4.04523 17.9892 4.09666 17.875 4.1707L8.01627 10.5618C7.85746 10.6648 7.72724 10.8043 7.63718 10.968C7.54712 11.1316 7.5 11.3144 7.5 11.5C7.5 11.6856 7.54712 11.8684 7.63718 12.032C7.72724 12.1957 7.85746 12.3352 8.01627 12.4381L17.875 18.8293C17.9892 18.9033 18.1173 18.9548 18.2519 18.9807C18.3866 19.0066 18.5252 19.0064 18.6598 18.9803C18.7944 18.9541 18.9223 18.9024 19.0364 18.8281C19.1504 18.7538 19.2483 18.6585 19.3245 18.5474C19.4006 18.4363 19.4535 18.3118 19.4801 18.1809C19.5068 18.0499 19.5066 17.9152 19.4797 17.7843C19.4528 17.6534 19.3996 17.529 19.3232 17.418C19.2469 17.3071 19.1488 17.212 19.0346 17.1379V17.1379Z" fill="black"/>
				<path d="M19.375 23.25H8.125C7.82663 23.25 7.54048 23.1315 7.32951 22.9205C7.11853 22.7095 7 22.4234 7 22.125C7 21.8266 7.11853 21.5405 7.32951 21.3295C7.54048 21.1185 7.82663 21 8.125 21H19.375C19.6734 21 19.9595 21.1185 20.1705 21.3295C20.3815 21.5405 20.5 21.8266 20.5 22.125C20.5 22.4234 20.3815 22.7095 20.1705 22.9205C19.9595 23.1315 19.6734 23.25 19.375 23.25Z" fill="black"/>
			</svg>
			<h2>20 min</h2>
		</div>

		<div id = "3" class = "multiple-unselect">
			<svg width="28" height="27" viewBox="0 0 28 27" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path fill-rule="evenodd" clip-rule="evenodd" d="M19.0346 17.1379L10.3377 11.5L19.0346 5.86208C19.1488 5.78804 19.2469 5.69285 19.3232 5.58195C19.3996 5.47105 19.4528 5.3466 19.4797 5.21572C19.5066 5.08484 19.5068 4.95008 19.4801 4.81915C19.4535 4.68821 19.4006 4.56366 19.3245 4.4526C19.2483 4.34154 19.1504 4.24615 19.0364 4.17188C18.9223 4.09761 18.7944 4.04591 18.6598 4.01974C18.5252 3.99356 18.3866 3.99342 18.2519 4.01932C18.1173 4.04523 17.9892 4.09666 17.875 4.1707L8.01627 10.5618C7.85746 10.6648 7.72724 10.8043 7.63718 10.968C7.54712 11.1316 7.5 11.3144 7.5 11.5C7.5 11.6856 7.54712 11.8684 7.63718 12.032C7.72724 12.1957 7.85746 12.3352 8.01627 12.4381L17.875 18.8293C17.9892 18.9033 18.1173 18.9548 18.2519 18.9807C18.3866 19.0066 18.5252 19.0064 18.6598 18.9803C18.7944 18.9541 18.9223 18.9024 19.0364 18.8281C19.1504 18.7538 19.2483 18.6585 19.3245 18.5474C19.4006 18.4363 19.4535 18.3118 19.4801 18.1809C19.5068 18.0499 19.5066 17.9152 19.4797 17.7843C19.4528 17.6534 19.3996 17.529 19.3232 17.418C19.2469 17.3071 19.1488 17.212 19.0346 17.1379V17.1379Z" fill="black"/>
				<path d="M19.375 23.25H8.125C7.82663 23.25 7.54048 23.1315 7.32951 22.9205C7.11853 22.7095 7 22.4234 7 22.125C7 21.8266 7.11853 21.5405 7.32951 21.3295C7.54048 21.1185 7.82663 21 8.125 21H19.375C19.6734 21 19.9595 21.1185 20.1705 21.3295C20.3815 21.5405 20.5 21.8266 20.5 22.125C20.5 22.4234 20.3815 22.7095 20.1705 22.9205C19.9595 23.1315 19.6734 23.25 19.375 23.25Z" fill="black"/>
			</svg>
			<h2>30 min</h2>
		</div>

		<div id = "4" class = "multiple-unselect">
			<svg width="28" height="27" viewBox="0 0 28 27" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path fill-rule="evenodd" clip-rule="evenodd" d="M19.0346 17.1379L10.3377 11.5L19.0346 5.86208C19.1488 5.78804 19.2469 5.69285 19.3232 5.58195C19.3996 5.47105 19.4528 5.3466 19.4797 5.21572C19.5066 5.08484 19.5068 4.95008 19.4801 4.81915C19.4535 4.68821 19.4006 4.56366 19.3245 4.4526C19.2483 4.34154 19.1504 4.24615 19.0364 4.17188C18.9223 4.09761 18.7944 4.04591 18.6598 4.01974C18.5252 3.99356 18.3866 3.99342 18.2519 4.01932C18.1173 4.04523 17.9892 4.09666 17.875 4.1707L8.01627 10.5618C7.85746 10.6648 7.72724 10.8043 7.63718 10.968C7.54712 11.1316 7.5 11.3144 7.5 11.5C7.5 11.6856 7.54712 11.8684 7.63718 12.032C7.72724 12.1957 7.85746 12.3352 8.01627 12.4381L17.875 18.8293C17.9892 18.9033 18.1173 18.9548 18.2519 18.9807C18.3866 19.0066 18.5252 19.0064 18.6598 18.9803C18.7944 18.9541 18.9223 18.9024 19.0364 18.8281C19.1504 18.7538 19.2483 18.6585 19.3245 18.5474C19.4006 18.4363 19.4535 18.3118 19.4801 18.1809C19.5068 18.0499 19.5066 17.9152 19.4797 17.7843C19.4528 17.6534 19.3996 17.529 19.3232 17.418C19.2469 17.3071 19.1488 17.212 19.0346 17.1379V17.1379Z" fill="black"/>
				<path d="M19.375 23.25H8.125C7.82663 23.25 7.54048 23.1315 7.32951 22.9205C7.11853 22.7095 7 22.4234 7 22.125C7 21.8266 7.11853 21.5405 7.32951 21.3295C7.54048 21.1185 7.82663 21 8.125 21H19.375C19.6734 21 19.9595 21.1185 20.1705 21.3295C20.3815 21.5405 20.5 21.8266 20.5 22.125C20.5 22.4234 20.3815 22.7095 20.1705 22.9205C19.9595 23.1315 19.6734 23.25 19.375 23.25Z" fill="black"/>
			</svg>
			<h2>1 hour</h2>
		</div>

		<div id = "5" class = "multiple-unselect">
			<svg width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path fill-rule="evenodd" clip-rule="evenodd" d="M8.32646 19.8578L16.764 14.2328L8.32646 8.60781C8.21566 8.53394 8.12049 8.43897 8.04639 8.32833C7.97229 8.21768 7.92071 8.09352 7.89459 7.96294C7.86848 7.83235 7.86834 7.6979 7.89418 7.56727C7.92002 7.43663 7.97134 7.31236 8.04521 7.20156C8.11908 7.09076 8.21405 6.99559 8.3247 6.92149C8.43535 6.84739 8.55951 6.79581 8.69009 6.76969C8.82067 6.74358 8.95512 6.74344 9.08576 6.76928C9.21639 6.79512 9.34066 6.84644 9.45146 6.92031L19.0162 13.2968C19.1703 13.3995 19.2966 13.5387 19.384 13.702C19.4714 13.8653 19.5171 14.0476 19.5171 14.2328C19.5171 14.418 19.4714 14.6003 19.384 14.7636C19.2966 14.9269 19.1703 15.0661 19.0162 15.1688L9.45146 21.5453C9.34066 21.6192 9.21639 21.6705 9.08576 21.6963C8.95512 21.7222 8.82067 21.722 8.69009 21.6959C8.55951 21.6698 8.43535 21.6182 8.3247 21.5441C8.21405 21.47 8.11908 21.3749 8.04521 21.2641C7.97134 21.1533 7.92002 21.029 7.89418 20.8984C7.86834 20.7677 7.86848 20.6333 7.89459 20.5027C7.92071 20.3721 7.97229 20.2479 8.04639 20.1373C8.12049 20.0266 8.21566 19.9317 8.32646 19.8578Z" fill="black"/>
			</svg>
			<h2>1 hour</h2>
		</div>

		<div id = "6" class = "multiple-unselect">
			<svg width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M13.5 1.6875C6.97676 1.6875 1.6875 6.97676 1.6875 13.5C1.6875 20.0232 6.97676 25.3125 13.5 25.3125C20.0232 25.3125 25.3125 20.0232 25.3125 13.5C25.3125 6.97676 20.0232 1.6875 13.5 1.6875ZM7.59375 11.1006C7.60051 10.7694 7.73682 10.454 7.97344 10.2222C8.21005 9.99038 8.52811 9.86053 8.85938 9.86053C9.19064 9.86053 9.5087 9.99038 9.74531 10.2222C9.98193 10.454 10.1182 10.7694 10.125 11.1006C10.1182 11.4318 9.98193 11.7471 9.74531 11.979C9.5087 12.2108 9.19064 12.3406 8.85938 12.3406C8.52811 12.3406 8.21005 12.2108 7.97344 11.979C7.73682 11.7471 7.60051 11.4318 7.59375 11.1006V11.1006ZM13.5 18.2725C11.2456 18.2725 9.39727 16.4979 9.28125 14.2752C9.27982 14.2466 9.28422 14.2181 9.29418 14.1912C9.30413 14.1644 9.31944 14.1399 9.33918 14.1192C9.35891 14.0985 9.38265 14.082 9.40895 14.0707C9.43526 14.0595 9.46358 14.0537 9.49219 14.0537H10.7604C10.8712 14.0537 10.9661 14.1381 10.974 14.2488C11.0742 15.554 12.1685 16.585 13.5 16.585C14.8315 16.585 15.9284 15.554 16.026 14.2488C16.0339 14.1381 16.1288 14.0537 16.2396 14.0537H17.5078C17.5364 14.0537 17.5647 14.0595 17.591 14.0707C17.6174 14.082 17.6411 14.0985 17.6608 14.1192C17.6806 14.1399 17.6959 14.1644 17.7058 14.1912C17.7158 14.2181 17.7202 14.2466 17.7188 14.2752C17.6027 16.4979 15.7544 18.2725 13.5 18.2725ZM18.1406 12.3662C17.8094 12.3595 17.4941 12.2231 17.2623 11.9865C17.0304 11.7499 16.9006 11.4318 16.9006 11.1006C16.9006 10.7693 17.0304 10.4513 17.2623 10.2146C17.4941 9.97803 17.8094 9.84172 18.1406 9.83496C18.4718 9.84172 18.7872 9.97803 19.019 10.2146C19.2508 10.4513 19.3807 10.7693 19.3807 11.1006C19.3807 11.4318 19.2508 11.7499 19.019 11.9865C18.7872 12.2231 18.4718 12.3595 18.1406 12.3662V12.3662Z" fill="black"/>
			</svg>
			<h2>&nbsp;No preference</h2>
		</div>
			
		</div>

		<!--button nav-->
		<div class="fixed-bottom bottom-nav card-iteminline">
			<a href = "/filter2">
				<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="#657DC4" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
					<path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
				</svg>
			</a>
		</div>
	</div>


</body>
</html>

<script>
	$(".multiple-unselect").click(function(){
		var currentId = $(this).attr("id");
		var currentBg = $(this).css("background-color");
		var currentText = $(this).css("color");

		//check whether selected already
		if (currentBg === "rgb(101, 125, 196)"){
			localStorage.setItem("currentId", null);
			$(this).css("background-color", "#FFFFFF");
			$(this).css("color", "#212529");
		} else {
			localStorage.setItem("currentId", currentId);
			$(this).css("background-color", "#657DC4");
			$(this).css("color", "#FFFFFF");
		}
		
		//multiple chioce: double click color disappear
		$( ".multiple-unselect").each(function(){
			if ($(this).attr("id") !== currentId){
				$(this).css("background-color", "#FFFFFF");
				$(this).css("color", "#212529");
			}
		})
	});

	//remember id when refresh
	var selectId = localStorage.getItem("currentId");
	if (selectId !== null){
		$( ".multiple-unselect").each(function(){
			if ($(this).attr("id") === selectId){
				$(this).css("background-color", "#657DC4");
				$(this).css("color", "#FFFFFF");
			}
		})
	}
	

</script>