<!doctype html>
<html>

<head>
	<title>Welcome</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
		integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
	<link href="/css/introHCI.css" rel="stylesheet">
	

</head>
<body>
	</br></br></br></br></br></br>
	<div class="container">
		<h1 class="card-title">Welcome! </h1>
		</br></br>
		<h4>Let's set up reminders for when to take a break before we get started.</h4>
		</br></br></br></br>
		<a href="/setting" style="float: right"><button type="button" class="btn btn-primary btn" id="home">Next</button></a>
	</div>
  </body>
</html>