<!doctype html>
<html>

<head>
	<title>Welcome</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
		integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/introHCI.css">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	
</head>
<body>
	</br></br></br></br>
	<div class="container">
		<h1>Welcome!</h1>
		<p>Let's set up reminders first</p>
</br></br>
		<div class="row">
			<div class="col-12 col-sm row-content">
				{{!-- <h3>Reminders</h3> --}}
				<p>How often do you want to get notification to take a break?</p>
				<form class="input-group" onsubmit="signup(e)">
					<select class="custom-select" id="inputGroupSelect04">
						<option selected>Choose One</option>
						<option value="1">Daily</option>
						<option value="2">Every 2 days</option>
						<option value="3">Every 3 days</option>
						<option value="3">Every 4 days</option>
						<option value="3">Weekly</option>
					</select>
					{{!-- <div class="input-group-append">
						<button class="btn btn-outline-secondary" type="submit" id="save-time">Save</button>
					</div> --}}
				</form>
			</div>
			<div class="col-12 col-sm form-content">
				<p>What time of the day do you want to get notifications?</p>
				<form class="input-group" onsubmit="signup(e)">
					<select class="custom-select" id="inputGroupSelect05">
						<option selected>Choose One</option>
						<option value="1">Morning</option>
						<option value="2">Afternoon</option>
						<option value="3">Evening</option>
					</select>
					{{!-- <div class="input-group-append">
						<button class="btn btn-outline-secondary" type="submit" id="save-when">Save</button>
					</div> --}}
				</form>
			</div>
		</div>

		<br><br><br><br>
		

		<div class="fixed-bottom center-aligned">
			<a href="/index">
			<h4 class="center-aligned" style="color:#828282">Skip for now</h4>
			</a>

			<a href="/index">
				<div class = "primarybtn">
					<button type="button" class="btn-primary">Save</button>
				</div>
			</a>
		</div>





	</div>
  </body>
</html>