@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');
@media (max-width: 575.98px) {
	.container {
		margin-left: 24px; 
		margin-right: 24px; 
		overflow: hidden;
	}
	.video iframe {
		width: 100%;
		height: auto;
	}
}

body {
	font-family: 'Rubik', sans-serif;
	font-style: normal;
	font-weight: normal;
}

h1{
	font-family: 'Rubik', sans-serif;
	font-weight: normal !important;
	font-size: 48px;
	line-height: 57px;
}

h2{
	font-family: 'Rubik', sans-serif;
	font-weight: 500 !important;
	font-size: 30px;
	line-height: 36px;
}

h3{
	font-family: 'Rubik', sans-serif;
	font-weight: 500;
	font-size: 24px;
	line-height: 28px;
}

p{
	font-family: 'Rubik', sans-serif;
	font-weight: normal;
	font-size: 18px ;
	line-height: 21px;
}

h4{
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 14px;
}

.jumbotron {
	background-color: white !important;
	margin-bottom: 0;
	padding: 5%;
}

/* applies to anything of class "example-class-selector" */
.example-class-selector {
	margin-top: 2em;
}

/* applies to any <p> descendants of an element of class "example-class-selector" */
.example-class-selector p {
	/* Colors are in hexadecimal: http://www.colorpicker.com/ */
	color: #cc00aa;
}

.custom-select{
	font-size: 12pt !important;
}

/*menu fixed at top & dropdown items*/
#name {
	color: black;
	padding-top: 3%;
	padding-left: 2%;
}

.top-button {
	padding-right: 2%;
	margin-top: 5%;
	display: flex;
	justify-content: flex-end;
}

.dropdown-menu-right{
	padding-left: 15% !important;
	padding-right: 15% !important;
	border-radius: 2% !important;
	border: 3px !important;
	border-color: #BDBDBD !important;
}

/* .name {
	margin-top: 1rem;
	margin-left: 1rem;
	color: #212529 !important;
} */

.arrow {
	position: absolute;
	margin-top: 2rem;
	margin-left: -1rem;
}

::after{
	display: none !important;
	/* border-bottom-color: #FFFFFF !important; */
}

.btn-secondary {
	background-color: white !important;
	border-color: white !important;
}

.dropdown-item {
	font-size: 14pt;
}

.active,
.dropdown-item:hover {
	font-weight: 800 !important;
	background-color: white !important;
	color: #657dc4 !important;
}

button {
	border: none;
	fill: #ffffff;
}

/*primarybtn position-bottom*/
.primarybtn {
	margin-top: 10%;
	margin-bottom: 10%;
	background-color: white;
	display: flex;
	justify-content: center;
}

/*the bottom button background*/
.home-bottom {
	padding-top: 10%;
	padding-bottom: 10%;
	display: flex;
	justify-content: center;
	background-color: white;
	box-shadow: 0px -4px 15px rgba(0, 0, 0, 0.08);
}

/*for general buttons: style*/
.btn-primary {
	font-family: 'Rubik', sans-serif;
	font-weight: normal;
	font-size: 20pt;
	background-color: #657dc4 !important;
	border-radius: 4px;
	background-image: none;
	box-shadow: none;
	text-shadow: none;
	background-position-y: 0;
	width: 92%;
}



/* .btn {
	font-size: 12pt !important;
} */

.btn-spacing {
	margin: 8px 0;
}

/*outline button*/
.btn-secondary {
	font-size: 14pt;
	color:#657dc4 !important;
	background-color: white !important;
	border: 1px solid #657dc4 !important;
	border-radius: 4px;
	background-image: none;
	box-shadow: none;
	text-shadow: none;
	background-position-y: 0;
}

.secondarybtn{
	font-family: 'Rubik', sans-serif;
	font-weight: normal;
	font-size: 20pt;
	background-color: #FFFFFF !important;
	color:#657dc4 !important;
	border: 1px solid #657DC4;
	box-sizing: border-box;
	border-radius: 4px;
	background-image: none;
	box-shadow: none;
	text-shadow: none;
	background-position-y: 0;
	width: 92%;
}
/*links*/
.tryAgain{
	margin-top:55%;
	color:#657dc4;
}

/*things for the card on home page*/
.card {
	margin-bottom: 6%;
	border: 1px solid rgba(131, 142, 217);
	border-radius: 2%;
}

.card-link {
	/*bottom part of the card*/
	color: gray !important;
	font-size: 12pt;
}

.card-iteminline {
	/*top part of the card*/
	display: flex;
	justify-content: space-between;
}


/*for regular bottom button & filter */
.bottom-nav {
	margin-top: 10%;
	margin-bottom: 10%;
	/* background-color: white; */
	display: flex;
	justify-content: space-evenly;
}

/* filter choice */
.multiple-unselect {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 10px;

	position: relative;
	width: 70%;
	height: 100%;
	left: 0px;
	top: 0px;

	background: #ffffff;
	border: 1px solid #bdbdbd;
	box-sizing: border-box;
	border-radius: 80px;
	margin-bottom: 5%;
}
/*filter 2*/
.select-all {
	padding: 10px 20px;
	margin: 10px 0px;
	display: inline-block;
	align-items: flex-start;
	position: relative;

	width: 150px;
	height: 46px;
	left: 10px;
	top: 10px;

	background: #ffffff;
	border: 1px solid #bdbdbd;
	box-sizing: border-box;
	border-radius: 80px;
}

.filter-top{
	padding-top: 8%;
	padding-left: 5%;
}

.filter_button{
	font-family: 'Rubik', sans-serif;
	font-weight: normal;
	font-size: 20pt;
	background-color: #657dc4 !important;
	border-radius: 4px;
	background-image: none;
	box-shadow: none;
	text-shadow: none;
	background-position-y: 0;
	width: 50%;
	text-align: center;
}

.again{
	font-size: 12pt;
	padding-left: 3%;
	padding-right: 3%;
	padding-top: 2%;
	padding-bottom: 2%;
	color:#657dc4 !important;
	background-color: white !important;
	border: 1px solid #657dc4 !important;
	border-radius: 4px;
	background-image: none;
	box-shadow: none;
	text-shadow: none;
	text-align: center;
	background-position-y: 0;
}

/*center aligned*/
/*used in About: name card*/
.center-aligned {
	text-align: center;
}

/*image*/
.card-img-top {
	max-height: 100%;

}

/*modal*/
.bg-modal {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	position: absolute;
	top: 0;
}


.modal-content {
	margin-top: 30%;
	width: 300px;
	height: 250px;
	background-color: white;
	opacity: 1;
	border-radius: 2% !important;
}

.close{
	font-size:30px !important;
	padding-right:5% !important;
	color:#657dc4 !important;
}

.btn-danger{
	font-size: 12pt;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 2%;
	padding-bottom: 2%;
	border-radius: 5% !important;
	background-image: none;
}

.form-content {
	padding: 1rem;
}


.footer {
	padding-top: 60%;
	display: flex;
	flex-direction: column;
	color: #657dc4;
	/* justify-content: space-between; */
}


.row-content {
	padding: 1rem;
}

a {
	display: block;
}

.header-display {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.aboutProject {
	margin-top: 35%;

}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.row {
	overflow: hidden;
}

a:link {
	color: white;
	text-decoration: none;
}

a:visited {
	color: white;
	text-decoration: none;
}


.fb-login {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.activity-img-wrap {
	width: 100%;
	height: 200px;
	margin-bottom: 5vh;
}

.activity-img {
	width: 100%;
	height: 30vh;
}


.content {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}


#timer {
	color: #657DC4;
	padding-top: 20%;
	padding-left: 40%;
	position: absolute;
}


/*for animation*/
.floating{
	animation-name: floating; 
    animation-duration: 3s; 
    animation-iteration-count: infinite; 
    animation-timing-function: ease-in-out; 
    margin-left: 10%; 
	margin-top: 5px;

}

@keyframes floating { 
    0% { transform: translate(0,  0px); } 
    50%  { transform: translate(0, 15px); } 
    100%   { transform: translate(0, -0px); }     
} 

.scale{
	animation-name: scale; 
    animation-duration: 3s; 
    animation-iteration-count: infinite; 
    animation-timing-function: ease-in-out; 
    margin-left: 10%; 
	margin-top: 5px;

}

@keyframes scale { 
	0% {
		transform: scale(1.0);
		-webkit-transform: scale(1.0);
	}
	50% {
		transform: scale(1.1);
		-webkit-transform: scale(1.1);
	}
	100% {
		transform: scale(1.0);
		-webkit-transform: scale(1.0);	   
} 
}

.img-overlay{
	position: relative;
  	display: inline-block; /* <= shrinks container to image size */
  	transition: transform 150ms ease-in-out;
}

.img-overlay svg{
	position: absolute;
	top: 19%;
	left: 0;
	z-index: -2;
}

.start{
	text-shadow: 0px 0px 30px #FFFFFF; 
	margin-bottom:10%; 
	margin-top:10%;
	z-index:0;
}

.bg.animate{
	transition: transform 2s ease-in-out;
	transform: scale(6);
}

.slide-br {
	-webkit-animation: slide-br 2s cubic-bezier(0.600, -0.280, 0.735, 0.045) both;
	        animation: slide-br 2s cubic-bezier(0.600, -0.280, 0.735, 0.045) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-3-12 13:54:29
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-br
 * ----------------------------------------
 */
 @-webkit-keyframes slide-br {
	0% {
	  -webkit-transform: translateY(0) translateX(0);
			  transform: translateY(0) translateX(0);
	}
	100% {
	  -webkit-transform: translateY(100px) translateX(100px);
			  transform: translateY(100px) translateX(100px);
	}
  }
  @keyframes slide-br {
	0% {
	  -webkit-transform: translateY(0) translateX(0);
			  transform: translateY(0) translateX(0);
	}
	100% {
	  -webkit-transform: translateY(80px) translateX(80px);
			  transform: translateY(80px) translateX(80px);
	}
  }
  
/* #astro .move{
	 position: 'relative';
    right: 120px;
	bottom: 320px;
	transition: transform 2s ease-in-out;
	/* margin-left: 130%; 
	margin-top: 130%; 
} */


/* .buttons button {
	height: 48px;
	width: 300px;
	margin-top: 1rem;
	border-radius: 6px;
	padding-left: 40px;
	padding-right: 40px;
} */
/* 
#primary {
	color: white;
	border-style: none;
	background-color: #074ee8;
}

#secondary {
	color: #074ee8;
	border: 2px solid #074ee8;
} 

.buttons {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
*/

